## Build generated
build/
DerivedData/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
### Java template
*.class

# Package Files #
*.war
*.ear

## Eclipse
.project
.classpath

## Directory-based project format:
.settings/
# if you remove the above rule, at least ignore the following:

### Maven template
target
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
